.login-form {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 200px;
  z-index: 1;
  font-size: 30px;
  color: white;
}

.login-form input {
  margin-right: 10px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  border: none;
}

.login-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 5px 15px;
  border: none;
  background-color: rgb(24, 212, 150);
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.login-form button:active {
  background-color: rgb(20, 148, 105);
}
